.about {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    padding: 80px 0 100px 0;
    h2 {
        font-weight: 400;
        font-size: 24px;
        color: #000000;
    }
    img {
        margin-top: 20px;
    }
    p {
        margin-top: 40px;
        font-weight: 400;
        font-size: 14px;
        color: #000000;
    }
}